.App {
	text-align: center;
}

.App-header {
	background-color: #b51118;
	width: 100%;
	min-height: 10vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: calc(10px + 2vmin);
	color: white;
	padding: 2%;
}

.footer {
	background-color: #b51118;
	width: 100%;
	min-height: 10vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
	padding: 2%;
}
/* Navigation CSS */
.school-r {
	height: 100px;
}

.logo {
	width: 100%;
	height: 100%;
}

/* Landing Page CSS */

.landing-page-container {
	border: white;
}
.landing-header {
	display: flex;
	justify-content: center;
	margin: 1%;
}
.landing-header > h1 {
	display: flex;
	margin-top: 2%;
}
.img-lion {
	height: 100px;
	width: 100px;
}
.landing-card-row {
	display: flex;
	justify-content: space-evenly;
	margin: 1%;
}

.landing-container-card {
	width: 30%;
	position: relative;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
	padding: 10px;
	background: white;
}

.landing-container-card::after {
	content: '';
	position: absolute;
	z-index: -1; /* hide shadow behind image */
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
	width: 70%;
	left: 15%; /* one half of the remaining 30% */
	height: 100px;
	bottom: 0;
}
.landing-container-card > p {
	width: 75%;
	margin: 0 auto;
}
/* About page CSS */

.about_carousel{
	margin: 0 auto;
	height: 500px;
	margin-top: 5%;
	width: 50%;
	/* border: 2px double #b51118; */

}
